h1,h2,h3,h4,h5{
    color: #2C2F35;
}
.font-weight-bold{
    font-weight: 700 !important;
}
h1{
    font-weight: bold;
    letter-spacing: -1px;
}
h5{
    text-transform: uppercase;
    color: #6E747F;
    font-size: 12px;
}
p{
    color: #6E747F;
}